*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    min-width: 300px;
}
img
{
  border-radius: 10px;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 700px;
  }
  .hero_text{
    margin: auto;
    padding: 20px;
  }
  .hero_text>p
  {
    color: gray;
  }
  .hero_text>h1
  {
    color: ghostwhite;
  }

  .product_area
  {
     min-width: 300px;
      max-width: 400px;
     text-align: center;
  }
  .shadow_box
  {
    -webkit-box-shadow: 0 7.5px 7px -3.5px #dddddd;
    -moz-box-shadow: 0 7.5px 7px -3.5px #dddddd;
    box-shadow: 0 7.5px 7px -3.5px #dddddd;
    background-color: #f2f2f2;
    border: none;
    padding: 20px;
    border-radius: 1rem;
  }
  .overlap_image
  {
    position: relative;
    top: 60px;
    z-index: 1;
  }
  .overlap_text
  {
    position: relative;
    top: 30px;
    z-index: 1;
  }
  .overlap_text>p
  {
    color: gray;
  }
  .overlap_text>p::after
  {
    content: ">";
    color: orange;
    font-weight: bolder;
  }
 

  .maine
  {
      display: flex;
      flex-direction: column;
      gap: 30px;
   }
  .main-top,.main-mid,.main-bot
  {
      border-radius: 1rem;
      box-shadow: 1px 1px 10px rgb(200, 199, 199) ;
      display: flex;
      justify-content:space-around;
      align-items: center;
      min-width:  200px;
  }
  .main-mid
  {
    flex-direction: row-reverse;
  }
  .main-top-left,.main-mid-left,.main-bot-left
  {
      display: flex;
      flex-direction: column;
      padding: 5%;
      gap: 0px;
      width: 100%;
  }
  /* .main-top-right img,.main-mid-right img,.main-bot-right img
  {
      padding: 10%;
      width: 100%;
  } */
   
.main-top-right,.main-mid-right ,.main-bot-right 
  {
      height:310px;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
  } 
 .main-top-right
 {
  background-image: url('https://source.unsplash.com/300x300/?smart watch');
 }
.main-mid-right
{
  background-image: url('https://source.unsplash.com/300x300/?cyberSecurity');
}
.main-bot-right 
{
  background-image: url('https://source.unsplash.com/300x300/?mic');
}

.footer-links a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}

.icons {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}


@media (max-width: 800px) {
    main
    {
        padding-top:  80px;
    }
    .hero_text,.userexp,footer {
    text-align: center;
   }
   .main-top,.main-mid,.main-bot
   {
    flex-direction: column-reverse;
   }
   .footer-links
   {
    flex-direction: column;
    text-align: center;
   }
 
}
 
